body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("/public/bg.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 98vw;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.App {
  text-align: center;

  /* margin: 20px; */
  width: 80vw;

  /* Increased width */
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #333;
  font-size: 3rem;
  padding-top: 1%;
  margin-bottom: 20px;
}

.task-form-card {
  width: 100%; /* Adjusted to match increased container width */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  /* background-color: #fff; */
  background: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-form-card h2 {
  margin-top: 0;
  color: #333;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .App {
    width: 90%;
  }

  .task-form-card,
  .task-card {
    width: 100%;
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .App {
    width: 95%;
  }

  .task-form-card,
  .task-card {
    width: 100%;
    padding: 10px;
  }

  h1 {
    font-size: 1.2rem;
  }

  input[type="text"] {
    width: 100%;
  }

  .filter-buttons button {
    padding: 8px;
    margin: 0 3px;
  }

  button {
    padding: 8px 10px;
  }
}
